{% extends 'base.html' %}

{% block content %}
	{% if api.totalResults == 0 %}
		<h5 style="padding: 50px">No search Results returned for : ' {{keyword}} '</h5>
	{% elif keyword %}
		<h5 style="padding-top:20px;padding-left: 10px;">Top search results returned for ' {{keyword}} ' : </h5>
	{% endif %}
	<div class="card-blocks" style="padding: 10px;padding-top: 15px; margin-left: 85px;">

	{% for article in api.articles %}
	  <div class="card border border-secondary">
		  <div class="row">
			  <div class="col-sm-2">
					<a href="{{ article.url }}" target="_blank"><img src="{{ article.urlToImage }}" class="card-img-top" alt=""  width="150">
					</a>
					<p class="card-text" style="margin-left: 22px; margin-top: 5px;"><small class="text-muted">Source: {{ article.source.name }}</small></p>
					
			  </div>
			  <div class="col-sm-10">
					<h5 class="card-title" style="margin-left: 18px; margin-top: 15px; margin-bottom: 0px;">{{ article.title }}</h5>
					<div class="card-body">
							<p class="card-text">{{ article.description }}</p>
							<p class="card-text"><small class="text-muted">Published at : {{article.publishedAt}}</small></p></a>
						  </div>

				</div>
  
			</div>

	  </div>
	{% endfor %}
	</div>
{% endblock %}